<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Banking</display-name>
	<servlet>
		<description>
		</description>
		<display-name>LandingPage</display-name>
		<servlet-name>LandingPage</servlet-name>
		<servlet-class>LandingPage</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Landing</display-name>
		<servlet-name>Landing</servlet-name>
		<servlet-class>com.ncs.controller.Landing</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminLogin</display-name>
		<servlet-name>AdminLogin</servlet-name>
		<servlet-class>com.ncs.controller.AdminLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CustomerLogin</display-name>
		<servlet-name>CustomerLogin</servlet-name>
		<servlet-class>com.ncs.controller.CustomerLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>NewRegistration</display-name>
		<servlet-name>NewRegistration</servlet-name>
		<servlet-class>com.ncs.controller.NewRegistration</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangeUN</display-name>
		<servlet-name>ChangeUN</servlet-name>
		<servlet-class>com.ncs.controller.ChangeUN</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangeParticulars</display-name>
		<servlet-name>ChangeParticulars</servlet-name>
		<servlet-class>com.ncs.controller.ChangeParticulars</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewBalance</display-name>
		<servlet-name>ViewBalance</servlet-name>
		<servlet-class>ViewBalance</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SendMoney</display-name>
		<servlet-name>SendMoney</servlet-name>
		<servlet-class>SendMoney</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ApplyLoan</display-name>
		<servlet-name>ApplyLoan</servlet-name>
		<servlet-class>com.ncs.controller.ApplyLoan</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewCustomerList</display-name>
		<servlet-name>ViewCustomerList</servlet-name>
		<servlet-class>com.ncs.controller.ViewCustomerList</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminViewLoans</display-name>
		<servlet-name>AdminViewLoans</servlet-name>
		<servlet-class>com.ncs.controller.AdminViewLoans</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminViewTrans</display-name>
		<servlet-name>AdminViewTrans</servlet-name>
		<servlet-class>AdminViewTrans</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EditLoans</display-name>
		<servlet-name>EditLoans</servlet-name>
		<servlet-class>com.ncs.controller.EditLoans</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RejectLoans</display-name>
		<servlet-name>RejectLoans</servlet-name>
		<servlet-class>com.ncs.controller.RejectLoans</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdDeleteCustomer</display-name>
		<servlet-name>AdDeleteCustomer</servlet-name>
		<servlet-class>com.ncs.controller.AdDeleteCustomer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdEditCustomer</display-name>
		<servlet-name>AdEditCustomer</servlet-name>
		<servlet-class>com.ncs.controller.AdEditCustomer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdEditCustomer2</display-name>
		<servlet-name>AdEditCustomer2</servlet-name>
		<servlet-class>com.ncs.controller.AdEditCustomer2</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdEditTransaction</display-name>
		<servlet-name>AdEditTransaction</servlet-name>
		<servlet-class>com.ncs.controller.AdEditTransaction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdDeleteTransaction</display-name>
		<servlet-name>AdDeleteTransaction</servlet-name>
		<servlet-class>com.ncs.controller.AdDeleteTransaction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewTransaction</display-name>
		<servlet-name>ViewTransaction</servlet-name>
		<servlet-class>com.ncs.controller.ViewTransaction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Scatterbrain</display-name>
		<servlet-name>Scatterbrain</servlet-name>
		<servlet-class>com.ncs.controller.Scatterbrain</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FilterID</display-name>
		<servlet-name>FilterID</servlet-name>
		<servlet-class>com.ncs.controller.FilterID</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LandingPage</servlet-name>
		<url-pattern>/LandingPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Landing</servlet-name>
		<url-pattern>/Landing</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminLogin</servlet-name>
		<url-pattern>/AdminLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerLogin</servlet-name>
		<url-pattern>/CustomerLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewRegistration</servlet-name>
		<url-pattern>/NewRegistration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeUN</servlet-name>
		<url-pattern>/ChangeUN</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeParticulars</servlet-name>
		<url-pattern>/ChangeParticulars</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewBalance</servlet-name>
		<url-pattern>/ViewBalance</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SendMoney</servlet-name>
		<url-pattern>/SendMoney</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ApplyLoan</servlet-name>
		<url-pattern>/ApplyLoan</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewCustomerList</servlet-name>
		<url-pattern>/ViewCustomerList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminViewLoans</servlet-name>
		<url-pattern>/AdminViewLoans</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminViewTrans</servlet-name>
		<url-pattern>/AdminViewTrans</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditLoans</servlet-name>
		<url-pattern>/EditLoans</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RejectLoans</servlet-name>
		<url-pattern>/RejectLoans</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdDeleteCustomer</servlet-name>
		<url-pattern>/AdDeleteCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdEditCustomer</servlet-name>
		<url-pattern>/AdEditCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdEditCustomer2</servlet-name>
		<url-pattern>/AdEditCustomer2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdEditTransaction</servlet-name>
		<url-pattern>/AdEditTransaction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdDeleteTransaction</servlet-name>
		<url-pattern>/AdDeleteTransaction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewTransaction</servlet-name>
		<url-pattern>/ViewTransaction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Scatterbrain</servlet-name>
		<url-pattern>/Scatterbrain</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FilterID</servlet-name>
		<url-pattern>/FilterID</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>Landing</welcome-file>
	</welcome-file-list>
</web-app>
